@import "./variables.scss";
.footer {
    height: 10vh;
    background-color: white;
}

.footer h2 {
    color: navy;
    margin-top: 0px;
}

.footer img {
    width: 3vw;
    padding: 0.5vw;
}

.links {
    width: 100px;
}