@import "./variables.scss";
.footer {
    height: 10vh;
    // background-color: $color1;
    // width: 100vw;
    margin: auto;
}

.footer h2 {
    color: navy;
    margin-top: 0px;
}

.footer img {
    width: 3vw;
    padding: 0.5vw;
}

.links {
    margin: auto;
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    top: 50%;
    /* account for padding and border if not using box-sizing: border-box; */
}