ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // background-image: linear-gradient(to right, #26356E, #C0A14E, #457BA4, #133B5C, #C0A14E, #C39937);
    background-color: #133B5C;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.after {
    backdrop-filter: blur(50px);
}

a {
    color: #FCDAB7;
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}