@import "./variables.scss";
.projects {
    // size: 100%;
    background-color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 20px;
}

#projects {
    margin: 50px;
}