@import "./variables.scss";
.project {
    // background-color: $color3;
    border-radius: 20px;
}

.project img {
    width: 30vw;
}

.project section {
    padding: 20px 150px 0px 150px;
}

section {
    text-align: justify;
    width: 500px;
    margin: auto;
}