@import "./variables.scss";
.project {
    // background-color: $color3;
    border-radius: 20px;
}

.project img {
    width: 30vw;
}

section {
    padding: 20px 150px 20px 150px;
    text-align: justify;
    max-width: 750px;
    margin: auto;
}