@import "./variables.scss";
h1 {
  font-family: $font-name, $font-type;
  font-size: 110px;
  margin: 67 0 0 0;
  font-weight: 200px;
  color: $links;
}

.section {
  size: 100%;
  min-height: 100vh;
  background-color: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $color4;
  width: 60vw;
  margin: 100px 0 100px 0;
  height: auto;
  position: relative;
  border-radius: 20px;
  padding: 10px;
}

.title {
  color: $text;
  margin: 0;
  padding: 10px;
  font-size: 50px;
  margin: auto;
}

.skill img {
  height: 65px;
  padding: 15px;
}

h3 {
  font-family: $font-name, $font-type;
  font-weight: 200px;
  color: $text;
  font-size: 30px;
  margin: 10px;
}

figure {
  display: inline-block;
  margin: 15px 10px 15px 10px;
}

figcaption {
  color: $text;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90vw;
    margin: 30px;
  }
  .skill img {
    height: 45px;
  }
}
